fastapi
uvicorn
python-dotenv
motor
pydantic
pydantic[email]
python-jose[cryptography]
resend
jinja2
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
paypalrestsdk
httpx
weasyprint
backports.zoneinfo; python_version < "3.9"
slowapi
